{% extends "nba/base.html" %}
{% block content %}
  {% if player_list %}
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>Player Name</th>
            <th>Team</th>
          </tr>
        </thead>
        <tbody>
          {% for player in player_list %}
              <tr>
                <td><a href="{% url 'player' player.playerid %}">{{ player }}</a></td>
                <td><a href="{% url 'team' player.team %}">{{ player.team }}</a></td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
  {% else %}
      <p>No players are available.</p>
  {% endif %}
{% endblock content %}
